{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block base_container %}
<main>
    <div class="auth">
        <div class="auth_form">
            <h1>Авторизация</h1>
            <form action="/api/v1/user/signin" method="post">
                <label for="username">Имя пользователя:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password"><br>
                <p>
                    <input type="submit" value="Войти">
                    <a href="signup">Зарегистрироваться</a>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
