{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block base_container %}

<main>
    <div class="auth">
        <div class="auth_form">
            <h1>Регистрация</h1>
            <form action="/api/v1/user/signup" method="post" onsubmit="validatePasswords(event); return true;">
                <label for="username">Email:</label><br>
                <input type="email" id="username" name="username"><br>
                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password"><br>
                <label for="confirm_password">Подтвердите пароль:</label><br>
                <input type="password" id="confirm_password" name="confirm_password"><br>
                <p>
                    <input type="submit" value="Зарегистрироваться">
                    <a href="signin">Войти</a>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}

<script>
    function validatePasswords(event) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirm_password').value;
        
        if(password !== confirmPassword){
            alert("Пароли не совпадают!");
            event.preventDefault(); // Предотвращаем отправку формы
        }
    }
</script>
