{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block base_container %}

<main>
    <div class="auth">
        <div class="auth_form">
            <h1>Регистрация</h1>
            <form action="/api/v1/user/signup" method="post">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password"><br>
                <label for="confirmPassword">Подтвердите пароль:</label><br>
                <input type="password" id="confirmPassword" name="confirmPassword"><br>
                <p>
                    <input type="submit" value="Зарегистрироваться">
                    <a href="signin">Войти</a>
                </p>
            </form>
        </div>
    </div>
</main>
{% endblock %}
